body{
		margin : 0;
		padding : 0;
		font-family : Arial, Helvetica, sans-serif;
	}
	nav{
		height : 40px;
		background-color : #333;
	}
	nav .center{
		width : 1226px;
		margin : 0 auto;
		height : 100%;
		font-size : 12px;
		color : #424242;
	}
	nav .center .left{
		height : 100%;
		float : left;
	}
	nav .center .left a,nav .center .left span{
		float : left;
		margin-right : 6px;
		line-height : 40px;
	}
	nav .center .left a{
		color : #b0b0b0;
		text-decoration : none;
	}
	nav .right{
		float : right;
	}
	nav .right .shoppingCart{
		float : right;
		height : 40px;
		width : 120px;
		background-color : #424242;
		box-sizing : border-box;
		background-image : url("images/shoppingCart1.png");
		background-position : 20px center;
		background-repeat : no-repeat;
		margin-left : 20px;
	}
	nav .right .shoppingCart a{
		text-decoration : none;
		color : #b0b0b0;
		line-height : 40px;
		padding-left : 45px;
	}
	nav .right .login{
		float : right;
	}
	nav .right .login a,nav .right .login span{
		float : right;
		line-height : 40px;
		margin-right : 6px;
	}
	nav .right .login a{
		text-decoration : none;
		color : #b0b0b0;
	}
	nav .center .left a:hover,nav .right .login a:hover{
		color : #fff;
	}
	nav .right .shoppingCart a:hover{
		color : #ff6700;
	}
	.top{
		height : 80px;
	}
	.top a.logo{
		width : 230px;
		float : left;
		margin : 22px 0;
	}
	.nav{
		float : left;
	}
	.nav a{
		text-decoration : none;
		color : #333;
		line-height : 100px;
		padding-right : 15px;
		font-size : 16px;
	}
	.nav a:hover{
		color : #ff6700;
	}
	.search{
		float : right;
		margin : 4px 0;
	}
	.sea-1 span {
		position: relative;
		left: 115px;
		top: 35px;
		height: 18px;
		line-height: 18px;
		font-size: 12px;
		background-color: #EEEEEE;
	}
	.sea-11 {
		right: 69px;
	}
	.sea-12 {
		right: 62px;
	}
	.sea-1 a{
		text-decoration: none;
	}
	.sea-1 a:hover{
		color : #ff6700;
	}
	.search form input{
		width : 223px;
		height : 48px;
		padding : 0;
		float : right;
		border : 1px solid #b0b0b0;
		font-size : 16px;
	}
	.search form input[type="submit"]{
		width : 48px;
		padding : 0;
		margin : 0;
		box-sizing : content-box;
		border-left : 0px solid #b0b0b0;
		background-color : #fff;
	}
	section{
		width : 1226px;
		margin : 0 auto;
	}
	.search form input[type="submit"]:hover{
		background-color : #ff6700;
		border-color : #ff6700;
		color : #fff;
	}
	.cont h2{
		margin: 0;
		font-size: 18px;
		font-weight: 400;
		line-height: 60px;
		color: #212121;
		float:left;
		margin-right: 834px;
	}
	#right{
		margin-top:-32px;
		margin-left: 290px;
		
		float: right;
	}
	#right .rator{
		color: #e0e0e0;
	}
	#right a{
		font-size: 14px;
		text-decoration: none;
		color: #333333;
	}
	#right a:hover{
		color:#ff6700;
	}
	#top12{
		border:1px solid darkgray;
		width : 100%;
		height: 70px;
		margin-top: 48px;
		z-index: 10;
	}
	.cont{
		position: relative;
		left:0px;
		top:5px;
	}
	.slideBox {
	    margin-top: 50px;
	    width:560px;
	    height:500px;
	    box-shadow:1px 1px 3px #C38DD4;
	    position:relative;
	    overflow:hidden;
	}
	.slideBox ul {
	    position:relative;
	    width:3000px;}
	.slideBox ul li {
	    float:left;
	    width:560px;
	    height:500px;
	    position:relative;    
	}
	.spanBox span {
	    width:18px;
	    height:18px;
	    margin-left:5px;
	    background-color:rgba(201,178,207,1.00);
	    float:left;
	    line-height:16px;
	    text-align:center;
	    text-shadow:2px 2px 2px #C5EBF0;
	    font-family:cabin-sketch;
	    font-size:15px;
	}
	.slideBox .spanBox .active {
	    background-color:rgba(155,83,244,0.79);
	    border:solid 1px #BEEBEC;
	    border-radius:5px;
	}
	.span10{
		float: right;
		margin-top:-525px;
	}
	.p1{
	    font-size: 18px;
		color:#ff6700;
		margin-top:0px;
		margin-left:24px;
		width:40px;
	}
	#price span{
		font-size: 15px;
		color: #ff6700;
		position: relative;
		left:450px;
		top:-40px;
	}
	.feng{
		margin-left:100px;
		margin-top:-20px;
	}
	#dizhi{
		background-color: #EEEEEE;
		height: 75px;
		margin-top:20px;
	}
	.footer {
		position: relative;
		top:120px;
		width: 100%;
		background-color: #f5f5f5;
	}
	.weixiu {
		height: 79px;
		border-bottom: 1px solid #E0E0E0;
	}
	.weixiu li {
		float: left;
		height: 79px;
		line-height: 79px;
		font-size: 16px;
	}
	.weixiu a {
		float: left;
		padding: 0 60px;
		color: #616161;
		text-decoration: none;
	}
	.seu {
		float: left;
		color: #E0E0E0;
	}
	.weixiu a:hover {
		color: #ff6700;
	}
	.fuwu {
		height: 192px;
	}
	.fu-le {
		float: left;
		height: 192px;
		width: 974px;
	}
	.fu-le dl {
		float: left;
		font-size: 12px;
	}
	.fu-le dt {
		margin: 38px 70px 32px 40px;
	}
	.fu-le dt a {
		color: #424242;
		text-decoration: none;
	}
	.fu-le dd {
		padding-bottom: 16px;
	}
	.fu-le dd a {
		color: #757575;
		text-decoration: none;
	}
	.fu-le a:hover {
		color: #ff6700;
	}
	.fu-ri {
		text-align: center;
	}
	.fu-ri h4 {
		padding: 42px 0 14px 0;
		font-size: 18px;
		color: #ff6700;
		font-weight: 400;
	}
	.fu-ri p {
		margin-bottom: 6px;
		font-size: 12px;
		color: #757575;
	}
	.fu-ri a {
		display: inline-block;
		margin-top: 20px;
		height: 28px;
		line-height: 28px;
		width: 118px;
		font-size: 14px;
		color: #ff6700;
		border: 1px solid #ff6700;
		text-decoration: none;
	}
	.fu-ri a:hover {
		background-color: #ff6700;
		color: #fff;
	}
	.copyright {
		height: 55px;
		padding: 40px 10px 0 0;
	}
	.logo {
		float: left;
		width: 55px;
		height: 55px;
		background: url(images/logo.png) no-repeat 0 0 ;
	}
	.co-nav {
		float: left;
		padding-left: 10px;
		width: 688px;
		height: 55px;
	}
	.con-nav a{
		text-decoration: none;
	}
	.co-nav a,.co-nav span,.co-nav p {
		font-size: 12px;
	}
	.co-nav a,.co-nav span {
		color: #757575;
	}
	.co-nav p {
		color: #B0B0B0;
	}
	.co-img {
		float: left;
		height: 55px;
		width: 56px;
		position: relative;
	    right: 752px;
	}
	.xiaomi {
		text-align: center;
		height: 80px;
		line-height: 80px;
	}
	.xiaomi h4 {
		font-size: 18px;
		font-weight: 400;
		font-family: "楷体" ;
		color: #BEBEBE;
	}